@import 'styles/abstracts/abstracts';

.c-panel {
  --panel-background-color-private: var(--panel-background-color, var(--panel-theme-background-color, var(--color-white)));
  --panel-padding-private: var(--panel-padding, 3rem);
  --panel-theme-dark-headline-offset-private: var(--panel-theme-dark-headline-offset, 0);
  --panel-theme-light-headline-offset-private: var(--panel-theme-light-headline-offset, 0);
}

.c-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: var(--panel-padding-private);
  background: var(--panel-background-color-private);
}

.c-panel--theme-light {
  --panel-theme-background-color: var(--color-underlay);

  --font-color: var(--color-theme);
  --headline-side-offset: var(--panel-theme-light-headline-offset-private);
  --headline-background-color: var(--color-theme);
  --headline-font-color: var(--color-white);
}

.c-panel--theme-dark {
  --panel-theme-background-color: var(--color-theme);

  --font-color: var(--color-white);
  --headline-side-offset: var(--panel-theme-dark-headline-offset-private);
  --icon-list-filter: invert(1);
  --progress-bar-background-color: var(--color-theme);
  --progress-bar-border-color: var(--color-white);
  --progress-bar-tracker-background-color: var(--color-white);
}
