*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0 0 10px;
}

a {
  color: inherit;
  transition: all 0.25s ease 0.1s;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
